  <!-- Page Wrapper -->
  <div id="wrapper">
      {{>sidenavbar}}

          <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      {{>topnavbar}}
      <!-- Main Content -->
      <div id="content">
                  <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profit Maximaization</h1>
          </div>
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1 text-center ">cal max profit</div>
               </div>
                <div class="card-body ">
                            <div class="mt-3 ">
                                <div class="col-12 ">
                                    <form class="user form-inline">
                                        <div class="form-group mx-auto">
                                            <input type="email" class="form-control form-control-user m-2" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                                <a href="#" class="btn btn-success btn-icon-split m-2">
                                                    <span class="text">Calculate</span>
                                                </a>
                                        </div>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                </div>
              </div>


                        <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Result</h6>
            </div>
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Shop Name</th>
                      <th>Qty</th>
                      <th>Wholesale price</th>
                      <th>Retail price</th>
                      <th>Details</th>
                      <th>profit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>
                      <a href="#" class="btn btn-info btn-circle">
                        <i class="fas fa-info-circle"></i>
                      </a>
                     </td>
                      <td>$320,800</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="6">Total Profit</th>
                      <th>100000</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>

        </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->