<h1 class="mt-4">Dashboard</h1>

<div class="form-group">
    <label for="itemname">Items</label>
    <input
      type="itemname"
      id="itemname"
      name="itemname"
      class="form-control"
      placeholder="Enter Item name"
      value="<%= typeof itemname != 'undefined' ? itemname : '' %>"
    />
  </div>
  