<!-- Project Name: Quiz applicaton 
     Description: This application based on quiz game
     language: HTMl,CSS,JS
     Author: Shaik Mudassir,Roushan Raj
     Github: https://github.com/shaik80
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Github" content="https://github.com/shaik80">
    <meta name="Author" content="Shaik Mudassir">
    <meta name="Author" content="Roushan Raj">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Max Pro</title>
    {{!-- <link rel = "icon" href ="img/photoshop/logo.jpg" type = "image/x-icon">  --}}
    <link href="./css/style.css" rel="stylesheet">
    <!-- fontawesome  -->
    <script src="https://kit.fontawesome.com/9260abf4d0.js"></script>
    </head>
    <body>


        {{{body}}}
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./js/app.js" type="text/javascript"></script>
    </body>
</html>